<!-- prettier-ignore -->
{% extends 'layouts/main.html' %}

 {% block title %} Speech to Text Demo {%endblock %}

{% block content %}
<span id="lang" style="display: none;">en-US</span>
  <div class="splash-screen">
    <img src="/static/img/splash.jpg" alt="Logo">
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Record Something</h4>
            <p class="card-text">Wait for 1 second before recoding.</p>
            <canvas class="screen" width="500" height="300" id="cvs"></canvas>
            <div class="d-flex">
              <button class="ml-auto mr-auto btn btn-primary btn-icon btn-round" id="btn-listen">
                <i class="fa fa-play"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6">
        <div class="card" >
          <div class="card-body">
            <form action="/upload" class="dropzone" id="my-awesome-dropzone">
              <div class="fallback">
                <input name="file" type="file" />
              </div>
            </form>
            <button class="btn btn-large" id="btn-transcribe">Transcribe</button>
            <!-- <form method=post enctype="multipart/form-data" action="/transcribe">
              <input type="file" name="file">
              <input type="submit" value="Upload">
            </form> -->
          </div>
        </div>
      </div>

      <div class="col col-sm-12">
        <div class="card" >
          <div class="card-body">
            <h4 class="card-title">Transcription</h4>
            <blockquote id="transcription">
              {{value}}
            </blockquote>
          </div>
        </div>
      </div>

      <div class="col col-sm-12">
        <div class="card" >
          <div class="card-body">
            <h4 class="card-title">Sentiment</h4>
            <div class="progress-container">
              <span class="progress-badge text-success">Positive</span>
              <div class="progress">
                <div id="prog-bar" class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1" style="width: 0%;">
                  <span class="progress-value" id="prog-val">0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


{% endblock %}