.navbar-brand {
	font-size: 3em;
	font-weight: "bold";
}

.screen {
	display: block;
	margin: 0 auto;
}

body {
	background-color: #f1f1f1;
}

#transcription {
	font-size: 2rem;
	font-family: cursive;
}

.progress {
	height: 5px !important;
}
.progress-value {
	font-size: 2em !important;
	font-weight: "bold" !important;
}

.navbar-brand img {
	max-height: 50px;
}

.splash-screen {
	background: white;
	height: 100vh;
	width: 100vw;
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.splash-screen img {
	margin: auto;
}
